# URL de l'API Backend (Inclure /api à la fin si nécessaire) 1
# Prod: https://api.admin-gotchop.com/api
# Staging: https://staging-api.admin-gotchop.com/api
# Dev: http://localhost:9015/api
VITE_API_URL=http://localhost:9015/api
